body {
    background-color: whitesmoke;
    font-family: 'Lato';
    background: url(../img/galaxy-space.gif);
    background-position: center;
    padding: 30px 100px 0 100px;
    background-repeat: no-repeat;
    background-size: cover;
}
/* ------------ Containers ------------- */
.title {
    text-align: center;
    border: 2px solid rgb(155, 45, 172);
    padding: 20px;
    margin-bottom: 30px;
    background-color: #40232c91;
    color: #3aebf3;
    font-size: 1.5em;
    line-height: 1.5em;
}
.container {
    text-align: center;
}
.grid-container {
    background-color: rgba(255, 255, 255, 0.139);
    padding: 15px;
    border: 2px solid rgb(155, 45, 172);
}

/* -------------- Buttons/Output -------------- */
.grid-container input {
    font-family: 'Lato';
    width: 50px;
    height: 50px;
    margin: 5px;
    text-align: center;
    font-weight: bolder;
    font-size: 2em;
    color: #3aebf3;
    background-color: #1f0c12e6;
    border: 2px solid rgb(155, 45, 172);
}
.grid-container input:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px black;
    transform: scale(1.1);
}
.grid-container input:active {
    background: #fafafa86;
}
.grid-container #equal {
    width: 240px;
    height: 50px;
}
.output {
    background-color: #40232c;
    height: 48px;
    text-align: center;
    padding: 15px 5px 0 5px;
    margin-bottom: 10px;
    border: 2px solid rgb(155, 45, 172);
    font-weight: bolder;
    font-size: 2em;
    color: #3aebf3;
}
.description {
    padding: 30px;
    line-height: 1.5em;
    font-size: 1.2em;
    color: #3aebf3;
}
.description ul li {
    list-style-type: none;
}

/* ----------- Grid Cells ------------ */

.output { grid-area: the_output; display: flex;}
.num_7 { grid-area: number_7;}
.num_8 { grid-area: number_8;}
.num_9 { grid-area: number_9;}
.divide { grid-area: sign_divide;}
.num_4 { grid-area: number_4;}
.num_5 { grid-area: number_5;}
.num_6 { grid-area: number_6;}
.times { grid-area: sign_times;}
.num_1 { grid-area: number_1;}
.num_2 { grid-area: number_2;}
.num_3 { grid-area: number_3;}
.minus { grid-area: sign_minus;}
.clear { grid-area: clear_num;}
.num_0 { grid-area: number_0;}
.point { grid-area: dec_point;}
.plus { grid-area: sign_plus;}
.equal { grid-area: sign_equal;}

.grid-container {
    
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    grid-template-areas: 
        "the_output the_output the_output the_output"
        "number_7 number_8 number_9 sign_divide"
        "number_4 number_5 number_6 sign_times"
        "number_1 number_2 number_3 sign_minus"
        "clear_num number_0 dec_point sign_plus"
        "sign_equal sign_equal sign_equal sign_equal";
}

